#
# This group is read both both by the client and the server
# use it for options that affect everything
#
[client]
port = 3306
socket = /var/lib/mysql/mysql.sock

[mysql]

[mysqld]
#關閉反向解析
skip_name_resolve
datadir = /var/lib/mysql
user = mysql
port = 3306
socket = /var/lib/mysql/mysql.sock
#pid-file = /var/run/mysqld/mysqld.pid
general_log_file = /var/log/mysql/query.log
slow_query_log_file = /var/log/mysql/slow.log
log-error = /var/log/mysql/error.log
default_storage_engine = InnoDB

key_buffer = 16M
max_allowed_packet = 16M
net_buffer_length = 256K
read_buffer_size = 8M
read_rnd_buffer_size = 16M
myisam_sort_buffer_size = 128M

## innodb
innodb_data_home_dir = /var/lib/mysql
innodb_buffer_pool_size = 256M
innodb_additional_mem_pool_size = 32M
innodb_data_file_path = ibdata1:10M:autoextend
innodb_log_buffer_size = 16M
innodb_log_file_size = 128M
innodb_flush_log_at_trx_commit = 1
innodb_lock_wait_timeout = 50


#
# include all files from the config directory
#
!includedir /etc/my.cnf.d




